{% extends 'base.html' %}
{% block content%}

<h1> Homepage</h1>
<div class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
          <img src="https://imgur.com/m3xSa0v.jpg" class="d-block w-100" alt="image of food">
      </div>
      <div class="carousel-item">
        <img src="https://imgur.com/fGApAf9.jpg" class="d-block w-100" alt="image for helping others">
      </div>
      <div class="carousel-item">
        <img src="https://imgur.com/l5fWqsR.jpg" class="d-block w-100" alt="image of lemons">
      </div>
      <div class="carousel-item">
        <img src="https://imgur.com/EHeWfPM.jpg" class="d-block w-100" alt="people in a group">
      </div>
      <div class="carousel-item">
        <img src="https://imgur.com/wRtd72Y.jpg" class="d-block w-100" alt="image of bread">
      </div>
      <div class="carousel-item">
        <img src="https://imgur.com/bBUeglQ.jpg" class="d-block w-100" alt="image of friuits">
      </div>
      <div class="carousel-item">
        <img src="https://imgur.com/In2euzP.jpg" class="d-block w-100" alt="sharing food">
      </div>

    </div>
  </div>

{% endblock %}