{% extends 'base.html' %}
{% block content%}

<h1> Shares</h1>
<div class="search">
  <form method='GET'>
    <input type='text' name='q'> 
  </form>
</div>
<br>
{% for food in foods %}
<a style="text-decoration:none" href="/shares/{{food.id}}/"> 
<div class="row row-cols-2">
    <div class="col mb-1">
      <div class="card">
        <div class="card-body" >
          <h2 class="title">{{food.name}}</h2>
          <p>{{food.description}}</p>
          <p> Expiry Date: {{food.exp}}</p>
          <p>How much is available: {{food.count}}</p>
          <p>Pick-up location: {{food.location}}</p>


        </div>
      </div>
    </div>
  </div>


{% endfor %}


<style>
a{
  color:black;
}

a:hover{
  color:#ff9c59;
}


  
</style>

{% endblock %}