.btn{
    border: 5px solid #ff9c59;
    background-color: #ff9c59;
    color: white; 
}

.card-body{
    text-decoration: none;
}

.footer{
    background-color: #ff9c59;
    color: white;
    text-align: right; 
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 35px; 
}

